* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  background-color: #7841BE;

  & .centrado {
    display: flex;
    gap: 5%;
    width: 200px;
    height: 50px; 

    text-align: center;
    line-height: 200px;

    & button {
      font-weight: bolder;
      background-color: rgba(255, 255, 255, 0.532);
      border: 1px solid white;
      width: 100px;
      height: 50px;
      border-radius: 5px;
      cursor: pointer;
      
    }

    & #trampa {
      animation: foccus .7s alternate infinite;
    }
  }
}

@keyframes foccus {
  from {
    transform: scale(100%);
    box-shadow: 0px 0px 10px rgb(0, 179, 255);
  }
  to {
    transform: scale(110%);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}



